body {
    overflow-x: hidden;
}

.box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}

.col-main {
    padding: 0 !important;
}

#box-right {
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    position: fixed;
    background-color: #fff;
    width: auto;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.buttons {
    width: 12em;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-top: 2em;
    outline: 0 !important;
    border-color: #000;
    border-style: solid;
    border-width: 1pt;
    cursor: pointer;
}

.selectDrop {
    display: block;
    margin-top: 2em;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    border-color: #000;
    border-width: 1pt;
    border-style: solid;
    background-color: #fff;
    outline: none;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.selectDropMenu {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    border-color: #000;
    border-width: 1pt;
    border-style: solid;
    background-color: #fff;
}

.select2-results {
    background-color: #fff;
    height: 200px;
    overflow-y: scroll;
    border-color: #000;
    outline: none;
}

.select2-search__field, .select2-search__field:focus, .select2-search__field:active {
    background-color: #fff;
    border-color: #000;
    border-style: solid;
    border-width: 1pt;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    outline: none;
}